#IFPALogoFloat
{
  float: right;
}

#IFPAIntro
{
  font-size: 9pt;
  border: 1px dotted black;
  margin: 1em 1em 1em 0.5em;
  padding: 3px;
  overflow: auto;
  zoom: 1;
}

#IFPABody, #IFPAFormBody
{
  clear: left;
  margin: 0.5em;
  overflow: auto;
  width: 100%;
  zoom: 1;
}

#IFPABody table
{
  padding: 0;
  margin: 0;
  background-color: #e0e0e0;
}

#IFPABody td h2
{
  margin-top: 0;
  text-align: center;
  font-size: 10pt;
}

#IFPABody ul
{
  background-color: #ffff90;
  border: 1px solid black;
  padding: 0.25em;
  font-size: 7pt;
  overflow: hidden;
  /*width: 350px;*/
  margin: 0 1em 0 1em;
}

#IFPABody ul p
{
  margin: 0;
  padding: 0;
  display: inline;
}

#IFPABody ul li, .ifpaMemberList
{
  list-style-type: none;
  overflow: hidden;
  margin: 0 0 0 0;
  padding: 0 0 2px 1em;
  /*border-bottom: 1px solid black;*/
}

#IFPABody ul li a, .ifpaMemberList a
{
  font-weight: bold;
  font-size: 8pt;
}

.ifpaMemberTitle
{
  padding-left: 0.75em;
  font-weight: bold;
  overflow: auto;
  zoom: 1;
}

.ifpaPaymentOptions
{
  width: 800px;
  position: relative;
}

.ifpaPaymentOnline
{
  background-color: #eee;
  border: 1px solid #2f2f4f;
  margin: 0 1em 1em 1em;
  padding: 1em;
  position: relative;
  width: 200px; /* 400px */
  /* float: right; */
  text-align: center;
}

.ifpaPaymentMailin
{
  background-color: #ccc;
  border: 1px solid #2f2f4f;
  margin: 0 1em 1em 1em;
  padding: 1em;
  position: relative;
  float: right;
  width: 300px;
}

.ifpaPaymentUSMail
{
  position: relative;
  width: 150px;
  float: right;
}

.ifpaPaymentInstant
{
  position: relative;
  width: 250px;
  float: right;
}

.ifpaPaymentEUMail, .ifpaPaymentPayPal
{
  position: relative;
  width: 150px;
}

.ifpaJoinForm
{
  margin: 1em;
  /* border: 1px solid #2f2f4f;*/
  /* background-color: #eee;*/
  padding: 0;
  padding-right: 1.75em;
  overflow: auto;
}

.ifpaJoinFormWrapper
{
  padding: 0;
  margin: 0;
  overflow: auto;
  width: 100%;
  zoom: 1;
}

.ifpaJoinDate
{
  float: right;
  margin-top: 0;
  margin-left: 3em;
  padding: 0;
}

.ifpaMemberInfo
{
  -moz-border-radius: 16px 16px 0 0;
}

.ifpaMemberInfo
{
  font-size: 8pt;
  background-color: #ccc;
  padding: 0;
  overflow: auto;
  margin: 0;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  float: right;
}

.ifpaMemberInfo .inner
{
  padding: 6px 6px 6px 6px;
  border: 1px solid #2f2f4f;
}

.ifpaMemberInfo .bottom
{
  border-top: 1px solid #2f2f4f;
  margin: 0.75em -6px 0 -6px;
  padding: 6px;
}

.ifpaMemberInfo h3
{
  -moz-border-radius: 16px 16px 0 0;
}

.ifpaMemberInfo h3
{
  font-size: larger;
  font-weight: bold;
  background-color: #2f2f4f;
  color: white;
  margin: 0;
  padding: 2px 6px 2px 6px;
}

.ifpaJoinDates
{
  margin: 0;
  /*border-bottom: 1px solid #2f2f4f;*/
}

.ifpaJoinMessage
{
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 9pt;
  overflow: auto;
}

#IfpaJoinShipping_proto, #IfpaJoinPayment_proto
{
  display: none;
}

#IfpaJoinShipping_style, #IfpaJoinPayment_style
{
  -moz-border-radius: 8px;
}

#IfpaJoinShipping_style, #IfpaJoinPayment_style
{
  background-color: white;
  margin-top: 0.25em;
  margin-left: 4em;
  margin-right: 1em;
  width: 270px;
  padding: 1em;
  font-size: 8pt;
  overflow: hidden;
}

#IfpaJoinPayment_style
{
  float: right;
  width: 300px;
}

#IfpaJoinShipping input, #IfpaJoinShipping select
{
  font-size: inherit;
}

#IfpaJoinShipping td, #IfpaJoinShipping th
{
  text-align: left;
}

#IfpaPaymentsBody
{
  padding: 1em;
}


.ifpaMembershipOptionsTable
{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ifpaMembershipOptionsHeader, .ifpaMembershipOptionsFooter
{
  width: auto;
  overflow: auto;
  background-color: white;
  padding: 4px;
}

.ifpaTierOneBackground
{
  background-color: #9797A7; /* #ACACB9; */ /* #63637B; */ /* #88EE00; */
  width: auto;
  overflow: auto;
}

.ifpaTierTwoBackground
{
  background-color: #97A797; /* #ACB9AC; */ /* #637B63; */ /* #0088EE; */
  width: auto;
  overflow: auto;
}

div.ifpaTierOneBackground, div.ifpaTierTwoBackground
{
  padding: 5px;
}

tr.ifpaTierOneBackground > td
{
  padding: 5px;
}

tr.ifpaTierTwoBackground > td
{
  padding: 5px;
}

tr.ifpaMembershipOptionsHeader > td
{
  padding: 5px;
  border-bottom: 2px solid black;
}

tr.ifpaMembershipOptionsFooter > td
{
  padding: 5px;
  border-top: 2px solid black;
}

.disabled
{
  text-decoration: line-through;
  color: #333;
}

.ifpaMemberApproval
{
}

table.ifpaMemberApproval td, table.ifpaMemberApproval th
{
  text-align: left;
}

tr.underline > td
{
  border-bottom: 2px dotted black;
}

.ifpaBallotInstructions
{
  margin-top: 0;
  margin-left: 1.5em;
  width: 80%;
  padding: 0.75em;
  border: 1px solid black;
  font-size: 8pt;
  zoom: 1;
}

.ifpaMemberStrip
{
  float: right;
}

