.rulebook_section
{
  margin-top: 1.75em;
  /*border-top: 1px dotted gray;*/
}

.rulebook_section h2
{
  font-size: 14pt;
  background-color: black;
  color: white;
  padding: 2px;
}

.rulebook_section > h2 > a, .rulebook_section > h2 > a:visited, .rulebook_section > h2 > a:hover
{
  color: white;
  text-decoration: none;
}

.rulebook_section_header_color
{
  color: white;
}

.rulebook_element
{
  margin-top: 1em;
  margin-left: 0;
}

.rulebook_element h3
{
  font-size: 12pt;
}

.rulebook_item
{
  margin-top: 1em;
  margin-left: 1.5em;
}

.rulebook_comment
{
  font-size: 10pt;
  margin-left: 2em;
  margin-top: 1em;
}

.rulebook_contents
{
  overflow: hidden;
  width: 450px;
  margin-left: 6em;
  margin-top: 1.25em;
  padding: 6px 6px 8px 6px;
  border: 1px solid black;
  background-color: #eee;
}

.rulebook_contents h2
{
  font-size: 14pt;
  padding: 2px;
  margin-top: 0;
}

.rulebook_contents > h2 > a, .rulebook_contents > h2 > a:visited, .rulebook_contents > h2 > a:hover
{
  text-decoration: none;
}

.rulebook_contents_body
{
  margin-top: 0.5em;
  margin-left: 2em;
}

.rulebook_contents_body ul
{
  margin: 0;
  padding: 0;
}

.rulebook_contents_body li
{
  margin-left: 2em;
  list-style: none;
  font-size: 8pt;
}

.rulebook_contents_item
{
  margin-top: 0.75em;
  font-weight: bold;
}

.rulebook_caption_container
{
  text-align: center;
  border-bottom: 1px dotted;
  padding-bottom: 4px;
  width: 420px;
}

.rulebook_caption
{
  font-size: smaller;
  color: #222;
  text-align: left;
}

.rulebook_masthead_title
{
  font-size: 24pt;
  font-weight: bold;
  margin: 1em 0 0 0;
}

.rulebook_masthead_subtitle
{
  font-size: 12pt;
  margin: 0 0 1.75em 0;
}

.rulebook_copyright_notice
{
  font-size: 10pt;
  float: right;
  width: 44%;
  font-size: smaller;
  background-color: #eee;
  color: #2f2f4f;
  border: 1px solid #2f2f4f;
  margin: 1.5em 4px 4px 4px;
  padding: 4px 4px 4px 4px;
}

.rulebook_edition
{
  font-size: 12pt;
  font-weight: bold;
  padding-top: 2em;
  padding-bottom: 1em;
}

.rulebook_web_notice
{
  font-size: 10pt;
}

.rulebook_image_container
{
  margin-top: 1.75em;
  margin-bottom: 1.5em;
  padding-bottom: 1em;
}

.rulebook_image_container > h3
{
  font-size: 12pt;
  margin-bottom: 0;
  padding-bottom: 1em;
}

.rulebook_image_container > img
{
  padding: 8px;
  border: 1px dashed black;
}
