#RulesBody, #RulesBodyEdit
{
  overflow: hidden;
  width: auto;
  margin-left: 0.5em;
  margin-right: 2em;
  font-size: small;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

#RulesBodyEdit
{
  margin-left: 9em;
  border-left: 2px dotted black;
  padding-left: 1em;
}

.rulesHeader
{
  width: 540px;
  overflow: hidden;
}

.rulesPublishInfo
{
  float: left;
  width: 44%;
  overflow: hidden;
  margin-top: 0.75em;
}

.rulesCopyrightInfo
{
  float: right;
  width: 44%;
  font-size: smaller;
  background-color: #eee;
  color: #2f2f4f;
  border: 1px solid #2f2f4f;
  margin: 1.5em 4px 4px 4px;
  padding: 4px 4px 4px 4px;
}

.rulesContents
{
  border-top: 1px solid black;
  padding-top: 1em;
  margin-top: 1em;
  font-size: medium;
  background: url("/rules2/html/stinger.gif") 380px 30px;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.rulesContents ul li
{
  margin-bottom: 0.5em;
}

.rulesPurpose
{
  font-size: small;
  background-color: #fefefe;
  border: 1px solid #888;
  margin: 2.5em;
  padding: 1em;
}

.rulesPurpose h3
{
  color: #FF9900;
}

.edit
{
   padding: 4px;
   margin-right: 1em;
   margin-left: 1em;
   /*float: right;*/
position: absolute;
left: 0;
/*   right: 1em;*/
   font-size: 7pt;
   color: green;
   background-color: #e0e0e0;
   background-image: none;
   border: 2px solid green;
}

.edit a, .edit a:visited
{
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.edit a:hover
{
  color: #ff9900;
  text-decoration: underline;
}

.rulesSourceLanguage
{
  background-color: #e0e0e0;
  color: #202020;
  font-size: 10pt;
  font-family: monospace;
  overflow: auto;
  border: 1px solid black;
  margin: 1em;
  padding: 4px;
  max-height: 18em;
  width: 30em;
}

.rulesSourceLanguage pre
{
  margin: 0; padding: 0;
  overflow: auto;
}

.rulesDestLanguage
{
  margin: 1em;
  font-size: 10pt;
  padding: 4px;
  font-family: monospace;
  width: 30em;
  max-height: 18em;
}

a.rulesNoStyle, a.rulesNoStyle:hover
{
  text-decoration: none;
  color: black;
}

.u
{
  text-decoration: underline;
}

.b
{
  font-weight: bold;
}
