.eventsPre
{
  margin-top: 0;
/*  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;*/
}

.eventsListMonth
{
  border-bottom: 1px dotted black;
  padding: 0.5em 0 0.5em 0.75em;
}

.eventsListMonth a > img, .eventsWrapper a > img
{
  border: none;
}

.eventsListMonth h3
{
  font-size: 15pt;
  padding: 0;
  margin: 0.25em 0 0.75em -0.5em;
}

.eventsListU
{
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  font-size: 10pt;
  font-weight: normal;
  padding: 3px 3px 3px 80px;
}

.eventsListU a, .eventsListU a:link, .eventsListU a:visited
{
  color: blue;
  font-weight: bold;
  text-decoration: none;
  font-size: 11pt;
}

.eventsListU a:hover
{
  color: black;
  text-decoration: underline;
}

.eventsListS
{
  font-size: 10pt;
  border: 1px solid #2f2f4f;
  padding: 3px 3px 3px 80px;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  padding-right: 75px;
  background: url("/img/ifpa-.gif") center left #e0e0e0;
  background-attachment: scroll;
  background-repeat: no-repeat;
}

.eventsListS a, .eventsListS a:link, .eventsListS a:visited
{
  color: blue;
  text-decoration: none;
  font-size: 11pt;
  font-weight: bold;
}

.eventsListS a:hover
{
  color: black;
  text-decoration: underline;
}

#MainBody h1.eventsHeader
{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 4px;
  padding-right: 1em;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16pt;
}

#MainBody .eventsSHeader
{
  background: url("/img/ifpa-.gif") center left;
  background-attachment: scroll;
  background-repeat: no-repeat;
  padding-left: 78px;
}

.eventsDateHeader
{
  margin-top: 0.75em;
  margin-left: 12px;
  font-size: 11pt;
  margin-bottom: 0.75em;
  font-style: italic;
  font-weight: bold;
  color: #444;
}

.eventsRegistration
{
  text-align: center;
  border: 2px solid #666;
  min-width: 12em;
  max-width: 16em;
  float: right;
  padding: 0;
  margin: 1em;
  margin-top: 16px;
  font-size: 8pt;
}

.eventsRegistration h2
{
  text-align: center;
  margin: 0;
  font-size: 8pt;
  background-color: #666;
  color: white;
}

.eventsRegistration h2 a
{
  color: white;
  text-decoration: none;
}

.eventsRegistration h2 a:hover
{
  color: #ffcc00;
  text-decoration: underline;
}

.eventsRegistration dl
{
  margin: 0;
  border: 0;
  padding: 0;
}

.eventsRegistration dt
{
  
}

.eventsRegistration dt a, .eventsRegistration dt a:visited
{
  text-decoration: none;
  color: blue;
}

.eventsRegistration dt a:hover
{
  text-decoration: underline;
  color: black;
}

.eventsSyndication
{
  font-style: normal;
  font-weight: normal;
  border: 0;
  padding-left: 18px;
  padding-right: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 18px;
  margin-top: 1px;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 7pt;
  color: #2f2f4f;
  /*width: 18em;*/
  background: url("/events/html/subscribe.gif") center left;
  background-attachment: scroll;
  background-repeat: no-repeat;
  /*background-color: #f0f0f0;*/
}

.eventsSyndication a
{
  color: blue;
  text-decoration: none;
}

.eventsSyndication a:hover
{
  text-decoration: underline;
  color: black;
}

.eventsEvents_old
{
  border: 1px solid black;
  background-color: white;
  margin-top: 27px;
  margin-bottom: 1em;
  margin-right: 1em;
  /*padding: 6px;*/
  font-size: 8pt;
  float: right;
}

.eventsEvents_old h2
{
  background-color: #666;
  color: white;
  font-size: 10pt;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding: 2px;
  margin-top: 0;
}

.eventsBasicEvents
{
  font-size: 9pt;
  width: 80em;
  margin-left: 1em;
  margin-top: 0;
  padding: 0;
}

.eventsLocation, .eventsHostClub, .eventsEvents, .eventsHomePage
{
  margin-top: 1em;
  margin-bottom: 0;
  margin-left: 12px;
  zoom: 1;
  width: auto;
  overflow: hidden;
}

.eventsLocationInner, .eventsHostClubInner, .eventsEventsInner, .eventsHomePageInner
{
  margin-left: 18px;
  margin-bottom: 0;
}

.eventsHomePageInner > a, .eventsHomePageInner > a:visited, .eventsHomePageInner > a:hover
{
  font-family: monospace;
  background-color: green;
  color: white;
  padding: 1.5px;
}

.eventsTBA
{
  color: #666;
  font-style: italic;
}

.eventsHeaderWrapper
{
  zoom: 1;
  width: auto;
  overflow: hidden;
  clear: right;
}

.eventsWrapper
{
  zoom: 1;
  width: auto;
  border: 2px dotted #2f2f4f;
  padding: 0.5em;
  margin-left: 1em;
  margin-top: 0.75em;
  margin-right: 1em;
  margin-bottom: 0.75em;
  font-size: 9pt;
  overflow: auto;
}

.eventsWelcome
{
  zoom: 1;
  clear: right;
  margin-left: 0;
  margin-right: 1em;
  margin-top: 0.25em;
  /*padding-top: 0.75em;*/
  overflow: hidden;
}

.eventsWelcome img
{
  width: 100%;
  overflow: hidden;
}

.eventsResults
{
  zoom: 1;
  width: auto;
  overflow: auto;
  background: #eee;
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 8px;
  margin-bottom: 1.5em;
  border-bottom: 1px solid black;
}

.eventsDetails
{
  margin-top: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 9pt;
  /*font-family: monospace;*/
/*  width: 91em;*/
  overflow: auto;
  zoom: 1;
}

#EventsNavigation
{
  float: right;
  margin: 0;
  padding-top: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  font-size: 9pt;
  overflow: auto;
  zoom: 1;
}

#EventsNavigation a, #EventsNavigation a:visited
{
  font-weight: bold;
  border-top: none;
  border-right: 2px solid #2f2f4f;
  border-left: 2px solid #2f2f4f;
  border-bottom: 2px solid #2f2f4f;
  padding: 2px;
  margin-top: 0;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 0;
  text-decoration: none;
  background-color: #ff9900;
  color: black;
}

#EventsNavigation a
{
  -moz-border-radius: 0 0 12px 12px;
}

#EventsNavigation a:hover
{
  text-decoration: underline;
  color: white;
}

.eventsTopNavigation
{
  margin-bottom: 1em;
  font-weight: bold;
}

.eventsBottomNavigation
{
  margin-top: 1.25em;
  font-weight: bold;
  /* %%%% here would be a nice place for a background chevron image << */
}
