#ClubsHeader
{
  width: 100%;
  overflow: auto;
  zoom: 1;
}

#ClubsBody
{
  width: auto;
  overflow: auto;
  zoom: 1;
  padding-left: 12px;
}

.clubsRegionTitle
{
  background-color: #e0e0e0;
  font-size: 16pt;
  font-weight: bold;
  margin-top: 0.5em;
  margin-left: 0;
  padding-top: 2px;
  padding-left: 4px;
  padding-bottom: 4px;
  margin-bottom: 0.5em;
  overflow: auto;
  border-left: 1px solid black;
  zoom: 1;
}

.clubsIndexSDivider, .clubsIndexUDivider
{
  min-height: 8px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  zoom: 1;
}

.clubsIndexSDivider
{
  border-top: 1px solid black;
}

.clubsIndexUHeader, .clubsIndexSHeader
{
  font-size: 11pt;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

table.clubListTable
{
  /*border-collapse: collapse;*/
  width: 100%;
}

.clubListTable th
{
  font-size: 14pt;
  font-weight: bold;
  padding-top: 1.25em;
  padding-bottom: 0.25em;
  text-align: left;
}

tr.clubsListU, tr.clubsListS, tr.clubsListP
{
  font-size: 9pt;
  border: none;
  padding: 3px;
  margin: 0.25em 0 0 0.5em;
  /*padding-right: 100px;*/
  height: auto;
  overflow: auto;
  width: 100%;
  zoom: 1;
}

tr.clubsListU
{
}

tr.clubsListP
{
  font-weight: bold;
}

tr.clubsListS
{
  /*-moz-border-radius: 12px;*/
}

tr.clubsListS
{
  font-size: 10pt;
  /*border: 1px solid #2f2f4f;*/
  /*background: url("/img/ifpa-.gif") center right #e0e0e0;*/
  /*background-attachment: scroll;*/
  /*background-repeat: no-repeat;*/
  /*height: 44px;*/
  zoom: 1;
}

.clubsNameS, .clubsNameU, .clubsNameP
{
  padding-left: 12px;
}

.clubsNameP
{
  font-weight: bold;
}

.clubsNameS
{
  font-size: 10pt;
  font-weight: bold;
  overflow: auto;
  zoom: 1;
}

#MainBody h1.clubsShowName
{
  margin: 0.75em 0 0 0;
  padding: 0;
  font-size: 18pt;
}

#ClubsWelcome
{
  /*border: 1px solid #2f2f4f;*/
  border-bottom: 1px solid black;
  margin: 0;
  padding: 0.75em 4px 0.75em 4px;
  font-size: 9pt;
  overflow: hidden;
}

.clubsStaleWarning
{
  font-size: 7pt;
  border: 1px solid #822;
  color: #822;
  padding: 4px;
  margin-top: 18px;
  margin-bottom: 12px;
  margin-right: 12px;
  margin-left: 12px;
  font-style: italic;
  width: 24em;
  float: right;
  text-align: center;
}

#ClubsTimes
{
  clear: left;
  margin: 0;
  padding: 0.25em 4px 0.75em 4px;
  /*border: 2px dotted #2f2f4f;*/
  font-size: 9pt;
  overflow: wrap;
}

#ClubsTimes h2
{
  font-size: 11pt;
}

#ClubsURL
{
  margin: 1em 0 0 0;
  padding: 0.25em 4px 0.75em 4px;
  border: 1px solid white;
  background-color: #e0e0e0;
  font-size: 8pt;
  overflow: auto;
}

a, a:visited, a:link
{
  color: blue;
  text-decoration: none;
}

a:hover
{
  color: black;
  text-decoration: underline;
}

#ClubsListingBody
{
  width: 100%;
  overflow: auto;
  zoom: 1;
}

.clubsCaveat
{
  padding-left: 12px;
  font-size: 7pt;
  font-style: italic;
  color: #444;
}

.clubsExtras
{
  /*text-indent: 4em;*/
  float: right;
  margin-right: 4em;
  margin-left: 4em;
  margin-bottom: 0.75em;
  border: 2px solid gray;
  padding: 4px;
  font-size: 8pt;
}

.clubsAdmin
{
  background-color: green;
  color: white;
  font-size: 7pt;
  margin-top: 0;
  margin-right: 4px;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
  font-weight: normal;
}

.clubsAdmin
{
  -moz-border-radius: 3px 3px 3px 3px;
}

.clubsAdmin > a, .clubsAdmin > a:visited
{
  color: white;
  text-decoration: none;
  font-size: 7pt;
  font-weight: normal;
}

.clubsAdmin > a:hover
{
  color: white;
  text-decoration: underline;
}

.clubsContacts
{
  float: right;
  overflow: auto;
  zoom: 1;
  width: auto;
}

.clubsContentsWrapper
{
  margin: 1em;
  /*border: 2px dotted #2F2F4F;*/
  /*padding: 1em;*/
  /*clear: right;*/
}

.clubsLocationHeader
{ 
  margin-top: 0.75em;
  margin-left: 12px; 
  font-size: 11pt;
  margin-bottom: 0.75em;
  font-style: italic;
  font-weight: bold;
  color: #444;
} 

.clubsURL, .clubsRelatedMembers, .clubsEvents
{
  margin-top: 1em;
  margin-bottom: 0;
  margin-left: 12px;
  zoom: 1;
  width: auto;
  overflow: hidden;
}

.clubsURLInner, .clubsRelatedMembersInner, .clubsEventsInner
{
  margin-left: 18px;
  margin-bottom: 0;
}

.clubsURLInner > a, .clubsURLInner > a:visited, .clubsURLInner > a:hover
{
  font-family: monospace;
  background-color: green;
  color: white;
  padding: 1.5px;
}

.clubsStats
{
  margin-top: 1em;
}

.clubsDisclaimer
{
  color: #444;
  border: 1px solid #444;
  padding: 5px;
  margin-top: 1em;
  margin-left: 0;
  margin-right: 1em;
  margin-bottom: 1em;
  font-size: 7pt;
  font-style: italic;
}
