@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Anonymous+Pro|Orbitron&v2);

#MainBody h2
{
  font-size: 10pt;
}

#MainBody div.membersHome
{
  font-size: 9pt;
  margin: 0.25em;
}

div.membersProfileBody
{
  /*margin-left: 1.25em;*/
  overflow: auto;
  width: 100%;
  zoom: 1;
}

.membersProfileNameplate
{
  font-family: 'Anonymous Pro', sans-serif;
}

.membersProfileNameplate > h2
{
  font-family: 'Orbitron', sans-serif;
}

.membersProfileComment
{
  margin: 1em;
  overflow: auto;
  zoom: 1;
}

.membersHome h1, .membersProfileBody h1
{
  font-size: 12pt;
}

.membersHome h2, .membersProfileBody h2
{
  font-size: 11pt;
  border-top: 1px dotted black;
  padding-top: 1em;
}

.membersHome ul, .membersProfileBody ul
{
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #eee;
}

.membersHome ul li, .membersProfileBody ul li
{
  margin: 0;
  padding-left: 1em;
  text-indent: 0;
  border: 0;
}

#MainBody .membersHome a, #MainBody .membersHome a:visited, #MainBody .membersHome li a, #MainBody .membersHome li a:visited, #MainBody .membersProfileBody a, #MainBody .membersProfileBody a:visited
{
  color: blue;
  text-decoration: none;
}

#MainBody .membersHome a:hover, #MainBody .membersHome li a:hover, #MainBody .membersProfileBody a:hover, #MainBody .membersProfileBody li a:hover
{
  text-decoration: underline;
}

div.membersPoll
{
  border: 1px solid black;
  margin: 0.25em;
  padding: 0.25em;
  font-size: 8pt;
  text-align: left
}

div.membersProfileSearchBox
{
  float: right;
  width: 18em;
  padding: 0;
  margin: 1.5em 0 0 0;
  background-color: white;
}

div.membersSearchBox
{
  border: 1px solid #ffcc66;
  margin: 2em 0.25em 0 0.25em;
  padding: 0;
  font-size: 8pt;
  text-align: left;
}

div.membersSearchBox h3
{
  background-color: #ffcc66;
  color: black;
  font-weight: bold;
  font-size: 9pt;
  border: 0;
  padding: 4px;
  margin: 0;
  text-align: left;
}

div.membersSearchBox input
{
  margin: 4px;
}

div.membersSearchBox p
{
  margin: 0.25em 0.5em 0.25em 0.5em;
}

div.searchButtonContainer
{
  display: inline;
  float: right;
  margin: 0 0.2em 0 0;
  padding: 0;
  background-color: #ffcc66;
  border: 6px solid #ffcc66;
}

div.searchButtonContainer input
{
  padding: 0;
  margin: 0;
}

div.membersSearchBoxEnd
{
  margin-top: 0.75em;
  margin-left: 3px;
  text-align: left;
}

div.membersSearchBoxEnd a
{
  color: blue;
}

div.membersTally
{
  font-size: 7pt;
  border: 0;
  padding: 0;
  margin: 0.25em 0 2em 0;
  text-indent: 0;
  text-align: right;
}

.membersPoll a, .membersSearchBox a, .membersPoll a:visited, .membersSearchBox a:visited
{
  color: blue;
  text-decoration: none;
}

.membersPoll a:hover, .membersSearchBox a:hover
{
  text-decoration: underline;
}

div.membersNameplate
{
  border: 2px solid #2F2F4F;
  margin: 0.75em 0.25em 0 0.25em;
  padding: 0;
  font-size: 9pt;
  background-color: white;
  min-width: 10em;
  max-width: 18em;
  text-align: left;
}

div.membersProfileNameplate
{
  width: 19em;
  border: 2px solid #2F2F4F;
  margin: 0;
  margin-left: 1em;
  margin-right: 4px;
/*  margin: 0 0.75em 0.75em 0.75em;*/
  padding: 0;
/*  font-size: 24pt;*/
  float: right;
  clear: right;
  text-align: left;
  overflow: auto;
  zoom: 1;
}

div.membersMiniNameplate, div.membersMultiNameplate
{
  min-width: 12em;
  max-width: 18em;
  border: 2px solid #2F2F4F;
  margin-right: 0.75em;
  margin-top: 16px;
  margin-bottom: 0;
  margin-left: 2em;
  padding: 0;
  background-color: white;
  text-align: left;
  overflow: hidden;
}

div.membersMiniNameplate
{
  float: right;
}

div.membersMultiNameplate
{
  float: left;
  clear: left;
  width: 16em;
}

.membersNameplate h2
{
  border: 3px solid #2F2F4F;
  margin: 0;
  padding-left: 28px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 10pt;
  color: white;
  background: url("/img/gallery/fw-np.gif") center left;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-color: #2F2F4F;
}

#MainBody .membersProfileNameplate h2, #MainBody .membersMiniNameplate .name, #MainBody .membersMultiNameplate .name
{
  margin: 0;
  padding-left: 28px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 10pt;
  font-weight: bold;
  color: white;
  background: url("/img/gallery/fw-np.gif") center left;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-color: #2F2F4F;
}

.membersProfileNameplate h3, #MainBody .membersMiniNameplate h3, #MainBody .membersMultiNameplate h3
{
  font-size: 11pt;
  padding: 1px 1px 1px 1px;
  margin: 0 0 0 2px;
  font-weight: bold;
}

.membersNameplate dt, .membersProfileNameplate dt, .membersMiniNameplate dt, .membersNameplateEnd dt, .membersMultiNameplate dt
{
  font-size: 9pt;
  margin: 0;
  margin-left: 2px;
  margin-top: 0.1em;
  padding: 1px;
}

.membersNameplate dd, .membersProfileNameplate dd, .membersMiniNameplate dd, .membersNameplateEnd dd, .membersMultiNameplate dd
{
  margin: 0;
  margin-right: 4px;
  margin-left: 2em;
  padding: 0;
  font-size: 8pt;
}

.membersNameplate dt a, .membersNameplate dd a, .membersProfileNameplate dt a, .membersProfileNameplate dd a, .membersProfileNameplate h3 a, .membersMiniNameplate a, .membersMultiNameplate a
{
  color: blue;
  text-decoration: none;
}

.membersNameplate dt a:hover, .membersNameplate dd a:hover, .membersProfileNameplate dt a:hover, .membersProfileNameplate dd a:hover, .membersProfileNameplate h3 a:hover, .membersMiniNameplate a:hover, .membersMultiNameplate a:hover
{
  text-decoration: underline;
}

.membersNameplateEnd
{
  margin-top: 0.5em;
  border-top: 2px solid #2F2F4F;
}

#MainBody li a.membersGalleryVisible, #MainBody li a.membersGalleryVisible:link, #MainBody li a.membersGalleryVisible:visited
{
  color: blue;
}

#MainBody li a.membersGalleryInvisible, #MainBody li a.membersGalleryInvisible:link, #MainBody li a.membersGalleryInvisible:visited
{
  text-decoration: none;
  background-color: gray;
  color: white;
}

#MainBody li a.membersGalleryInvisible:hover
{
  text-decoration: underline;
  color: #ffcc00;
}

.membersGalleryNew, .membersEventNew
{
  text-align: right;
}

.membersEventUpcoming
{
  padding-bottom: 0.5em;
  font-weight: bold;
  font-size: larger;
  color: green;
}

.membersEventPast
{
}

.membersClubAdmin, .membersEventAdmin, .membersGalleryAdmin, .membersGroupAdmin
{
  /*display: inline;*/
  float: right;
  font-size: 8pt;
  padding: 0;
  border: 0;
}

.membersClubAdmin a, .membersEventAdmin a, .membersGalleryAdmin a, .membersGroupAdmin a
{
  font-size: 8pt;
  border: 1px solid gray;
  display: inline;
  padding: 0;
  margin-left: 1em;
}

.membersClubAdmin a:hover, .membersEventAdmin a:hover, .membersGalleryAdmin a:hover, .membersGroupAdmin a:hover
{
  text-decoration: none;
  border: 2px solid black;
  color: black;
}

.membersClubValid, .membersClubStale
{
  margin-left: 2em;
  border: 2px dashed black;
  font-size: 9pt;
  padding: 4px;
}

.membersClubStale
{
  color: #844;
}

.membersIsAdmin
{
  display: inline;
  margin-left: 1em;
  padding: 1px;
  background-color: gray;
  font-size: 7pt;
  color: white;
  font-weight: bold;
}

.membersIsOwner
{
  display: inline;
  margin-left: 1em;
  padding: 1px;
  background-color: black;
  font-size: 7pt;
  color: white;
  font-weight: bold;
}

div.membersProfile, div.membersProfileHidden
{
  -moz-border-radius: 12px;
}

div.membersProfile, div.membersProfileHidden
{
  margin-top: 0.5em;
  margin-right: 4px;
  margin-left: 4px;
  margin-bottom: 0;
  padding: 0.75em;
  border: 1px solid #2F2F4F;
  font-size: 9pt;
  /*min-width: 40em;*/
  /*min-height: 18em;*/
  overflow: hidden;
  clear: right;
  zoom: 1;
}

div.membersProfileHidden
{
  border: 2px dashed #800;
}

div.membersProfileName
{
/*  display: inline;*/
/*  position: relative;*/
/*  top: -0.25em;*/
/*  border: 2px dotted #2F2F4F;*/
  margin: 4px;
  padding: 4px;
  font-size: 18pt;
  font-weight: bold;
  color: black;
  background-color: white;
  overflow: none;
  zoom: 1;
}

div.membersProfileLogin
{
  font-size: 7pt;
  color: #444;
  text-align: right;
  margin-top: 0;
  margin-bottom: 8px;
  padding: 0;
  float: right;
  zoom: 1;
}

div.membersEditprofileError
{
  display: inline;
  padding-left: 28px;
  background: url("/css/check.gif") center left;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: red;
}

#MainForm div.membersFormBody
{
  padding: 1.5em 1.25em 1.5em 1.25em;
  font-size: 9pt;
  margin: 0;
}

#MainForm .membersFormBody form
{
  font-size: 9pt;
  display: inline;
  padding: 0;
  border: 0;
  margin: 0;
}

#MainForm .membersFormBody h1
{
  font-size: 16pt;
  background-color: white;
  color: black;
  font-weight: bold;
  margin: 0 0 0.75em 0;
  padding: 0;
  border: 0;
}

#MainBody .membersFormWithMenu
{
  padding: 1em;
}

table.membersEditForm .th
{
  text-align: right;
  font-weight: bold;
}

table.membersEditForm .td
{
  text-align: left;
  font-weight: normal;
}

#MainForm .membersFormBody .instructions
{
  -moz-border-radius: 12px;
}

#MainForm .membersFormBody .instructions
{
  font-size: 8pt;
  background-color: #eee;
  color: black;
  padding: 2px;
  margin: 2px;
  border: 2px solid white;
}

#membersLoginBox, #membersLoginBox_Mini
{
  -moz-border-radius: 12px;
}

#membersLoginBox_Mini
{
  border: 1px solid #ffcc00;
  background-color: #eee;
  margin: 0;
  font-size: 7pt;
  width: 99%;
  overflow: hidden;
}

#membersLoginBox
{
  border: 1px solid #ffcc00;
  background-color: #eee;
  margin: 0 1.5em 1.25em 1.25em;
  padding: 0.75em;
  font-size: 9pt;
  min-width: 20em;
  max-width: 28em;
}

#membersLoginBox form
{
  display: inline;
  padding: 0;
  border: 0;
  margin: 0;
}

#membersLoginBox form th
{
  text-align: right;
  font-weight: bold;
}

#membersLoginBox_Mini div.loginPrompt
{
  font-size: 8pt;
  margin: 0;
  padding: 0;
}

#membersLoginBox div.loginPrompt
{
  color: #2f2f4f;
  font-weight: bold;
  padding: 3px;
  margin: 0 0 0.5em 0;
  border: 0;
  font-size: 13pt;
}

#membersLoginBox .submitButton
{
  /*display: inline;*/
  margin-left: 3px;
}

#membersLoginBox .submitButton:hover
{
  border: 2px solid #ffcc00;
}

#membersLoginFindMe
{
  -moz-border-radius: 12px 12px 12px 12px;
}

#membersLoginFindMe
{
  float: right;
  width: 28em;
  font-size: 8pt;
  padding: 0;
  margin: 0 3em 0 2em;
  border: 1px solid #2f2f4f;
  width: 20em;
}

#membersLoginFindMe h2
{
  -moz-border-radius: 11px 11px 0 0;
}

#membersLoginFindMe h2
{
  margin: 0 0 0.5em 0;
  padding: 4px;
  background-color: #2f2f4f;
  color: white;
  font-size: 11pt;
}

#membersLoginFindMe p
{
  margin: 1em 4px 4px 4px;
  padding: 0;
}

#membersLoginInstructions
{
  font-size: 10pt;
  padding: 0.5em 0 1em 1em;
  margin-top: 0.5em;
}

#membersLoginInstructions h2
{
  padding: 0;
  border: 0;
  margin: 0 0 0.5em 0;
  font-size: 12pt;
}

#membersLoginAbout
{
  border-top: 2px solid black;
  font-size: 9pt;
  padding: 1em;
}

#membersLoginAbout h2
{
  font-size: 12pt;
}

div.#membersIQTest
{
  -moz-border-radius: 12px 12px 12px 12px;
}

div.#membersIQTest
{
  margin: 1.5em 1em 1em 1em;
  padding: 1em;
  border: 1px solid #2f2f4f;
  background-color: #eee;
  font-size: 9pt;
}

#membersIQTest h2
{
  background-color: #2f2f4f;
  color: white;
  padding: 3px 1em 3px 1em;
  font-size: 11pt;
}

#membersIQTest ol
{
}

#membersIQTest ol li
{
  border: 1px solid white;
}

.membersSearchTiny
{
  font-size: 7pt;
  overflow: hidden;
  width: 100%;
}

#membersSearchOptions
{
  border: 1px dotted black;
  margin: 3px 0 0 0;
  padding: 0 1em 0.5em 1em;
  background-color: white;
  font-size: 8pt;
  width: 18em;
}

#membersSearchOptions dt
{
  margin: 0 0 0.5em 0;
  padding: 0;
}

#membersSearchOptions dd
{
  text-indent: 0;
  left-margin: 0;
}

#membersSearchOptions input
{
  display: inline;
  margin: 0;
  padding: 1px;
  border: 0;
}

.memberSearchWarning
{
  font-weight: bold;
  color: #800;
  padding: 2px;
  margin-bottom: 8px;
  margin-left: 1px;
  margin-right: 1px;
}

#membersSearchInstructions                                           
{
  -moz-border-radius: 12px 12px 12px 12px;
}

#membersSearchInstructions                                           
{                                                             
  font-size: 8pt;                                             
  padding: 0;                                                 
  margin: 0 3em 0 2em;                                        
  border: 1px solid #2f2f4f;                                  
}                                                             
                                                              
#membersSearchInstructions h2                                        
{                                                             
  -moz-border-radius: 11px 11px 0 0;                          
}                                                             
                                                              
#membersSearchInstructions h2                                        
{                                                             
  margin: 0 0 0.5em 0;                                        
  padding: 4px;                                               
  background-color: #2f2f4f;                                  
  color: white;                                               
  font-size: 11pt;                                            
}                                                             
                                                              
#membersSearchInstructions p                                         
{                                                             
  margin: 1em 4px 4px 4px;                                    
  padding: 0;                                                 
}                                                           

table.membersSearchResultsTable
{
  font-size: 9pt;
}

.membersSearchResultsTable td
{
  font-size: 9pt;
  padding: 8px;
}

.membersSearchResultsTable td.memberName
{
  font-size: 10pt;
}

.membersSearchResultsTable td.memberAlias
{
  background: url("/img/gallery/fw-generic.gif") center left;
  background-attachment: scroll;
  background-repeat: no-repeat;
  padding-left: 28px;
}

.membersOptOut
{
  -moz-border-radius: 12px;
}

.membersOptOut
{
  width: 40em;
  background-color: #e0e0e0;
  border: 1px solid #2f2f4f;
  font-size: 9pt;
  padding: 1em;
  margin-left: 1.5em;
}

.membersOptOut input
{
  font-weight: bold;
  font-size: 12pt;
  margin: 1em 0 0 19em;
  padding: 3px;
}

.membersOptOut input:hover
{
  background-color: yellow;
  color: red;
}

.membersFindMeResultIntro
{
  -moz-border-radius: 12px;
}

.membersFindMeResultIntro
{
  padding: 0.5em;
  margin: 1em 0 1em 0;
  border: 1px solid black;
  background-color: #e0e0e0;
  font-size: 10pt;
  color: black;
  width: 800px;
}

.xxmembersFindMeResult { -moz-border-radius: 12px; }

.membersFindMeResult
{
  position: relative;
  border: 2px dotted #2f2f4f;
  margin: 4px 0.5em 1em 0.5em;
  padding: 1.5em 0.5em 0 0.5em;
  font-size: 10pt;
  width: 700px;
}

.membersFindMeResult h3
{
  position: absolute;
  top: 0;
  margin: 0;
  padding: 3px;
  background-color: #2f2f4f;
  color: white;
  font-size: 9pt;
}

.membersFindMeResult dt
{
  font-size: 10pt;
}

.membersFindMeResult dd
{
  font-size: 9pt;
}

.membersFindMeButton
{
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0 3px 0 3px;
  background-color: #f0f0f0;
  font-size: 8pt;
  width: 24em;
}

.membersFindMeButton input
{
  font-size: 7pt;
}

.membersFindMeResultEnd
{
  margin: 0.5em 0 0 0;
  padding: 0;
  background-color: #e0e0e0;
  font-size: 8pt;
}

.LocalizeBox
{
  display: inline;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  text-align: inherit;
  color: inherit;
}

.LocalizeBox form
{
  border: 0;
  display: inline;
  padding: 0;
  margin: 0;
  font: inherit;
  background: inherit;
  color: inherit;
  text-align: inherit;
}

.LocalizeBox input, .LocalizeBox textarea
{
  margin: 0;
  padding: 0;
  outline: 0;
  font: inherit;
  background: inherit;
  color: inherit;
  text-align: inherit;
  border: 1px dotted gray; 
}

.LocalizeBox input:focus, .LocalizeBox input:hover, .LocalizeBox textarea:focus, .LocalizeBox textarea:hover
{
  border: 1px solid black;
}

.LocalizeBox input.submit
{
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 7pt;
  font-weight: normal;
  color: white;
  background-color: gray;
  text-align: inherit;
}

.LocalizeBox input.hidden
{
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
}

h1.borderTop
{
  border-top: 1px solid black;
}
